.banner-top-logo-home {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
}

.banner-top {
  width: 80%;
  height: fit-content;
  background-color: #3969a7;
  border-top: 0.5rem solid #6487b6;
  border-bottom: 0.5rem solid #6487b6;
}

.banner-top-left-right {
  background-color: #3969a7;
  width: 10%;
  border-top: 0.5rem solid #6487b6;
  border-bottom: 0.5rem solid #6487b6;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 20%,
      transparent 10%
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 10%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.logo-img {
  margin-top: 1.1rem;
  margin-bottom: 1rem;
  width: 80%;
}

.banner {
  margin-top: 0.5rem;
  width: 100%;
  height: 200px;
  background-color: black;
  background-image: linear-gradient(
      0deg,
      rgba(155, 155, 155, 0.23) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(155, 155, 155, 0.23) 1px, transparent 1px);
  background-size: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  padding: 2rem;
  position: relative;
}

.game {
  position: relative;
}

.game-img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
}

.game-img:hover {
  transform: scale(1.2);
  z-index: 1;
  position: absolute;
}

.game-img-mobile {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
  display: none;
}

.game-img-mobile:hover {
  transform: scale(1.2);
  z-index: 1;
}

.banner-console-img-container {
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-console-img-container:hover {
  filter: saturate(120%) brightness(120%);
}

.banner-console-img {
  width: 62%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner-story-img-container {
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}

.banner-story-img {
  width: 100%;
}

.banner-console-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  height: fit-content;
}

.banner-bottom-left-right {
  width: 20%;
}

.banner-bottom {
  width: 60%;
  height: fit-content;
  background-color: #3969a7;
  border-top: 0.5rem solid #6487b6;
  border-bottom: 0.5rem solid #6487b6;
}

.banner-ranking-img-container{
  margin-bottom: 0.5rem;
}

.cartdrige {
  width: 100%;
}

.cartdrige-img {
  position: relative;
  width: 40%;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cartdrige-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cartdrige-img:hover {
  transform: scale(1.2);
  filter: saturate(110%) brightness(110%);
}

.cartdrige-img:hover::before {
  opacity: 1;
}

.ranking-xl{
  display: block;
}

.ranking-s {
  display: none;
}

@media (max-width: 575px) {
  .game-img {
    display: none;
  }

  .game-img-mobile {
    display: block;
    width: 100%;
  }

  .game-container {
    padding: 0.3rem;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .sega-navbar {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 465px) {
  .banner-top {
    display: none;
  }

  .banner-top-left-right {
    display: none;
  }

  .banner-console-img {
    width: 100%;
  }

  .banner-top-logo-home {
    margin-top: 0.5rem;
  }

  .banner-story-img-container {
    margin-top: 0.5rem;
  }

  .banner-ranking-img-container {
    margin-top: 0.5rem;
  }

  .banner-console-img-container-margin {
    margin-top: 1rem;
  }

  .background-sega-md {
    margin-top: 0.5rem !important;
  }

  .ranking-xl{
    display: none;
  }
  
  .ranking-s {
    display: block;
    margin-bottom: 0.1rem;
  }

}
