body {
    background-color: #b3b2b2;
    /* font-family: "VT323", monospace;
    color: whitesmoke; */
  }

  .Body {
    flex: 1;
  }

  .form-container {
    border: 1px solid black;
  }
  
  .user-mail-container{
    width: 30%;
  }

  .main-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

